/* body */
body{
    background: white;
}

/* footer */
footer{
    margin: 10px;
    border: 100px;
    padding: 30px 100px;
    background-color:rgb(37, 37, 37);
    opacity: .8;
    color: antiquewhite;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: end;  
}

footer:hover{
    transition: all 0.1s; 
    background-color:rgb(0, 0, 0); 
    cursor: auto;
}

.redes li{
    margin: 5px;
    padding: 5px;
    border: 5px;
}

.info{
    font-size: large;
    text-align: center;
}
/* estilo de lista footer */
ul{
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color:black;
  }
